.nav {
  width: 100%;
  max-width: 320px;
}

.nav_item {
  display: block;
  color: #8585ad;
  text-decoration: none;
  line-height: 64px;
}

.nav_item:hover {
  cursor: pointer;
  color: #fff;
}

.nav_item_active {
  color: #fff;
}

.nav_text {
  color: #8585ad;
}
