.ul {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-height: calc(100vh - 188px);
  overflow-y: auto;
  padding: 0 8px 0 0;
  list-style: none;
}

.order {
  cursor: pointer;
  background: #1c1c21;
  border-radius: 40px;
  padding: 24px;
}
