.section {
  margin-top: 180px;
}

.section_ingredient {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: auto;
  text-align: center;
  padding-top: 120px;
}

.link {
  color: #fff;
}

.link:hover {
  color: #8585ad;
}
