.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.order_preview {
  display: flex;
  list-style: none;
  padding: 0;
}

.preview_item {
  position: relative;
  width: 64px;
  height: 64px;
  background: linear-gradient(#131316, #131316) padding-box,
    linear-gradient(to right, #801ab2, #4c4cff) border-box;
  border-radius: 50%;
  border: 2px solid transparent;
  margin-right: -10px;
}

.preview_item img {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 60px;
  transform: translate(-50%, -50%);
}

.preview_item:nth-of-type(1) {
  z-index: 6;
}
.preview_item:nth-of-type(2) {
  z-index: 5;
}
.preview_item:nth-of-type(3) {
  z-index: 4;
}
.preview_item:nth-of-type(4) {
  z-index: 3;
}
.preview_item:nth-of-type(5) {
  z-index: 2;
}
.preview_item:nth-of-type(6) {
  z-index: 1;
  opacity: 0.6;
}

.preview_item .preview_item_last {
  opacity: 0.6;
}

.more_items {
  width: 100%;
  line-height: 64px;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 60px;
  transform: translate(-50%, -50%);
  color: #f2f2f3;
  text-align: center;
}

.price {
  display: flex;
  align-items: center;
  gap: 8px;
}

.done {
  color: #00cccc;
}
