h2 {
  width: 100%;
  text-align: left;
}

.status {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.status_column {
  flex-basis: 272px;
}

.status_column_inner {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 330px;
  width: 100%;
  list-style: none;
  padding: 0;
}

.number {
  color: #00cccc;
}
