.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

.ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.item {
  display: flex;
  color: #8585AD;
  text-decoration: none;
}

.item:hover {
  cursor: pointer;
  color: #fff;
}

.item_active {
  color: #fff;
}